body {
    width: 100%;
    height: 100%;
    font: 400 12px/1.6 "Segoe UI", Tahoma, Arial, sans-serif;
}

.container-fluid {
    padding-left: 15px;
    padding-right: 20px;
    overflow-y: scroll;
}

.row > [class*='col-'] {
    padding-right: 5px;
    padding-left: 5px;
}

.panel-heading, .panel-footer {
    padding: 5px 10px;
}

.panel-body {
    padding: 10px;
    word-wrap: break-word;
}

#filterbar {
    margin-top: 20px;
    margin-bottom: 20px;
}

#filterbar .btn-default, .task .btn-default  { background: transparent; border: none;}

.tasklane header h5 {
    margin-top:  5px;
    margin-bottom: 10px;
    font-weight: 700;
    color: #555;
}

.tasklist {
    background-color: #f5f5f5;
    margin-bottom: 0px;
}

li.task {
    padding: 0;
    margin-bottom: 10px;
}

li.task header {
    cursor: move;
    font-weight: bold;
}

li.task footer {
    padding: 3px 7px;
}

.task-overdue { color: #dd3333; }
.task-today { color: #6f8eb3; }

li.task.task-medium {
    background-color: #fff;
    border: 1px solid #ccc;
}

li.task.task-private {
    background-color: #FFFFE2;
    border: 1px solid #e6d396;
}

li.task.task-high {
    background-color: #FFDDDD;
    border: 1px solid #FFA8A8;
}

li.task.task-low {
    background-color: #f5f5f5;
    border: 1px solid #ccc;
}

li.task.task-completed {
    background-color: #ddd;
    border: 1px solid #bbb;
}

/* blue
header: #BBDAFF;
body: #DBEBFF;
border: #A8CFFF;
*/


/* cyan
header: #A5D3CA;
body: #CFE7E2;
border: #8DC7BB  ;
*/

