body {
    width: 100%;
    height: 100%;
    font: 400 12px/1.6 "Segoe UI", Tahoma, Arial, sans-serif;
}

.container-fluid {
    padding-left: 15px;
    padding-right: 20px;
    overflow-y: scroll;
}

.row > [class*='col-'] {
    padding-right: 5px;
    padding-left: 5px;
}

.panel-heading, .panel-footer {
    padding: 5px 10px;
}

.panel-body {
    padding: 10px;
    word-wrap: break-word;
}

#filterbar {
    margin-top: 20px;
    margin-bottom: 20px;
}

#filterbar .btn-default, .task .btn-default  { background: transparent; border: none;}

.tasklane header h5 {
    margin-top:  5px;
    margin-bottom: 10px;
    font-weight: 700;
    color: #555;
}

.tasklist {
    background-color: #f5f5f5;
    margin-bottom: 0px;
}

li.task {
    padding: 0;
    margin-bottom: 10px;
}

li.task header {
    cursor: move;
    font-weight: bold;
}

li.task footer {
    padding: 3px 7px;
}

.task-overdue { color: #dd3333; }
.task-today { color: #6f8eb3; }

li.task.task-medium {
    background-color: #fff;
    border: 1px solid #ccc;
}

li.task.task-private {
    background-color: #FFFFE2;
    border: 1px solid #e6d396;
}

li.task.task-high {
    background-color: #FFDDDD;
    border: 1px solid #FFA8A8;
}

li.task.task-low {
    background-color: #f5f5f5;
    border: 1px solid #ccc;
}

li.task.task-completed {
    background-color: #ddd;
    border: 1px solid #bbb;
}

/* Color codes from: https://apple.stackexchange.com/a/96061 */
footer.task-red{
    background-color: #E7A1A2;
}

footer.task-orange{
    background-color: #F9BA89;
}

footer.task-peach{
    background-color: #F7DD8F;
}

footer.task-yellow{
    background-color: #FCFA90;
}

footer.task-green{
    background-color: #78D168;
}

footer.task-teal{
    background-color: #9FDCC9;
}

footer.task-olive{
    background-color: #C6D2B0;
}

footer.task-blue{
    background-color: #9DB7E8;
}

footer.task-purple{
    background-color: #B5A1E2;
}

footer.task-maroon{
    background-color: #DAAEC2;
}

footer.task-steel{
    background-color: #DAD9DC;
}

footer.task-darksteel{
    background-color: #6B7994;
}

footer.task-grey{
    background-color: #BFBFBF;
}

footer.task-darkgrey{
    background-color: #6F6F6F;
}

footer.task-black{
    background-color: #4F4F4F;
}

footer.task-darkred{
    background-color: #C11A25;
}

footer.task-darkorange{
    background-color: #E2620D;
}

footer.task-darkpeach{
    background-color: #C79930;
}

footer.task-darkyellow{
    background-color: #B9B300;
}

footer.task-darkgreen{
    background-color: #368F2B;
}

footer.task-darkteal{
    background-color: #329B7A;
}

footer.task-darkolive{
    background-color: #778B45;
}

footer.task-darkblue{
    background-color: #2858A5;
}

footer.task-darkpurple{
    background-color: #5C3FA3;
}

footer.task-darkmaroon{
    background-color: #93446B;
}

/* Make multi-category tasks grey */
footer.task-multi{
    background-color: #AFAFAF;
}

/* blue
header: #BBDAFF;
body: #DBEBFF;
border: #A8CFFF;
*/


/* cyan
header: #A5D3CA;
body: #CFE7E2;
border: #8DC7BB  ;
*/

